body{

    background-color: black;
    
}

.FlexContenedor{



    display: flex;


}
nav{

    display: flex;
    justify-content: space-between;
   
    width: 90%;
}

.div1{

    width: 20%;


}

.div2{

    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 40%;

    margin-right: auto;


}



.div3 {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
}

.div3 img {
    height: 20px;
    width: 20px;
    margin-left: 10px; /* Añade espacio a la izquierda de las imágenes */
}

.flex2{


    display: flex;

    justify-content: space-between;
}


.div2 a{


    margin-right: 15px;


}